/* gotu-regular - latin */
@font-face {
  font-family: 'Gotu';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/gotu-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../webfonts/gotu-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/gotu-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/gotu-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/gotu-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/gotu-v4-latin-regular.svg#Gotu') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../webfonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 35px;
    font-family: 'Gotu', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #333;
    padding-bottom: 2rem;
    overflow-x: hidden;
}
a {
    color: #FF9C50;
    text-decoration: none;
    background-color: transparent;
}
a:hover, a:visited {
    color: #FF9C50;
    text-decoration: none;
    background-color: transparent;
}
a.d-none.d-sm-block, a.d-sm-none{
    color: #0063AF;
}
.navbar-light .navbar-nav .nav-link {
    color: #014a92;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    margin-bottom: 0.2rem;
    text-align: right;
    font-weight: 900;
}
h2 {
    font-family: 'Gotu', sans-serif;
    font-size: 1.35rem;
    border-bottom: 0px solid #ccc;
    margin-top: 1.75rem;
    margin-bottom: 0rem;
}
h3 {
    font-family: 'Gotu', sans-serif;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: bold;
}
p {
    font-family: 'Gotu', sans-serif;
    hyphens: auto; 
    text-align: justify
}
b, strong {
    font-weight: 700;
}
p.card-text {
    font-size: 0.9rem;
    hyphens: auto;
}
ul {
    list-style-type: circle;
    margin-bottom: 0em;
    padding-left: 1.2em;
}
label {
    color: #333;
}
a.lit {
    color: #0063af;
}
h3.popover-header {
    margin-top: 0px;
}
header {
    background-color: #ddd;
}
table, tr, td {
    word-wrap: break-word;
    text-align: left;
}
.table td, .table th {
    padding: 0.25rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #0063af;
    border-top: 1px solid #ccc;
    
    color: #ffffff;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-size: 0.75rem;
    line-height:0px;
    height:35px;
    padding-top:10px;
}
.text-muted {
    text-align: center;
    padding-top:5px;
    color: #e8e8e8;
}
.text-muted > a {
    color: #e8e8e8;
    text-decoration:none;
}
.row.heading {
    text-align: center;
    margin-bottom: 1rem;
}
.row.content {
    text-align: left;
    font-size: 0.8rem;
    text-align: justify;
    margin-bottom: 4rem;
    margin-left: 0px;
}
.row.navigation {
    margin: 0 0 2rem 0;
    border-top: 1px solid #ddd;
}
.custom-select:focus {
    box-shadow: none;
    border-color: #ddd;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    border-radius: 0px;
    margin-top: 1px;
    margin-bottom: -1px;
}
.col.line {
    margin-left: 0px;
    padding-left: 0px;
}
.col-1.line {
    font-size: .8rem;
    padding-top:3px;
}
.col.line, .col-1.line {
    margin-bottom: .3rem;
}
.col-pixel-width-100.rotate {
    background-color: #0063af;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 5px 20px 5px;
    color: #fff;
}
.col.section {
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: .5rem;
    background-color: #0063af;
    color: #fff;
    font-size: .9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    vertical-align: middle;
    padding-top: 8px;
    padding-left: 15px;
}
.col.text {
    font-size: .9rem;
    text-align: justify;
    margin-top: 1.5rem;
    hyphens: auto;
}
.col.text-right {
    margin-top: -2px;
}
.container.head {
    font-size:0.7rem;
    height:120px;
    line-height:50px;
    background-color: #ddd;
    color:#fff;
    text-align: center;
    padding-top: 1.5rem;
}
.container.head > a {
    color:#fff;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
}
.container.head > p {
    font-size:.9rem;
    text-align: center;
    color:#797776;
}
.fa-home:before {
    margin-left: -8px;
}
.navbar {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.navbar-light .navbar-toggler {
    /*font-size:rem;*/
    margin: 0.25rem;
}
.wrapper.head {
    background-color: #ddd;
}
#hadw-banner-head {
    height: 75px;
    padding-left: .6rem;
}
.card-deck {
    margin-top: 1rem;
}
.card-header {
    color:#0063af;
    font-family: 'Montserrat', sans-serif;    
    font-variant: all-small-caps;
    font-size: 1.3rem;
    text-align: center;
    height: 2rem;
    padding-top: 0px;
}
.card-header > a {
    color:#0063af;
} 
i.fas {
    color: #0063af;
    font-size:.9rem;
    vertical-align: middle;
    padding-bottom:5px
}
i.fas:hover {
    color: rgba(0,0,0,0.7);
}
.fa-external-link-alt:before {
    color: #FF9C50;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
    margin-bottom: .5rem!important;
}
.italics {
    font-style: italic;
}
#hadw-banner-wrapper {
    position:absolute;left:5px;top:0;
}
#hadw-banner {
    z-index:1;
    height:110px;
}
.d-sm-none.head {
    font-size: 1.75rem;
}
.ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable {
    width: 50%;
}
.ui-dialog .ui-dialog-title {
    font-size: .9rem;
    font-family: 'Gotu', sans-serif;
    padding: .3rem;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: .9rem;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border: 0 !important;
}
.ui-widget-header {
    background: #0063af;
    border: 0 !important;
    color: #e8e8e8;
    font-weight: normal;
    text-transform: uppercase;
}
.ui-dialog .ui-dialog-content {
    border: 0 !important;
    font-family: 'Gotu', sans-serif;
    font-weight: 100;
    font-size: .9rem;
    color: #333;
    background-color: #eceae8;
}
.ui-widget.ui-widget-content {
    padding: 0px;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.tooltip-blue {
  --balloon-color: #0063af;
  color: #FF9C50;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #hadw-banner {
        height:60px;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    #hadw-banner-head {
        height: 90px;
        padding-top: 10px;
    }
    .d-none.d-sm-block.head {
        font-size: 1.75rem;
        margin-top: .75rem;
        text-align:right;
    }
    .d-none.d-sm-block.sub {
        font-size: .85rem;
        padding-left: 3rem;
        color: #333;
        text-align: right;
    }
    h1 {
        text-align: center; 
        }
    h1 > a:hover, a:visited {
        text-align: center;
    }
    .mt-2, .my-2 {
        margin-top: 0rem!important;
        margin-bottom: 0.2rem!important;
    }
    .col.text-right {
        margin-top: 0px;
    }
    .custom-control-label::before, .custom-file-label, .custom-select {
        margin-top: -1px;
    }
 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #hadw-banner {
        height:80px;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    .d-none.d-sm-block.head {
        font-size: 1.65rem;
        margin-top: 1.4rem;
        text-align:right;
    }
    .d-none.d-sm-block.sub {
        font-size: .95rem;
        padding-left:3rem;
        color: #333;
        text-align: right;
    }
    .container {
        max-width: 720px;
    }
    .col.text-right {
        margin-top: 0px;
    }
    .custom-control-label::before, .custom-file-label, .custom-select {
        margin-top: -1px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #hadw-banner {
        height:90px;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    .d-none.d-sm-block.head {
        font-size: 1.75rem;
        margin-top: 1.5rem;
        text-align:right;
    }
    .d-none.d-sm-block.sub {
        font-size: 1rem;
        padding-left:3rem;
        color: #333;
        text-align: right;
    }
    .container {
        max-width: 720px;
    }
    .col.text-right {
        margin-top: 0px;
    }
    .custom-control-label::before, .custom-file-label, .custom-select {
        margin-top: -1px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #hadw-banner {
        height:100px;
        margin-top:1rem;
        margin-bottom:1rem;
    }
    .d-none.d-sm-block.head {
        font-size: 1.85rem;
        margin-top: 1.6rem;
        text-align:right;
    }
    .d-none.d-sm-block.sub {
        font-size: 1rem;
        padding-left:3rem;
        color: #333;
        text-align: right;
    }
    .container {
        max-width: 850px;
    }   
    .col.text-right {
        margin-top: 0px;
    }
    .custom-control-label::before, .custom-file-label, .custom-select {
        margin-top: -1px;
    }
}
