<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Documenta Nepalica    </title>
    <link rel="icon" 
      type="image/ico" 
      href="/nepal/img/favicon_0.ico">
    
	<!-- Manik commented out-
	<link rel="stylesheet" href="/nepal/css/cake.css"/>	<link rel="stylesheet" href="/nepal/css/base.css"/>	-->
	
    <link rel="stylesheet" href="/nepal/css/hd-academy.css"/>    <!--  Change this line for new css styles. Printing css is included in editions::show.ctp. -->
	
<!-- gesperrt daffi 2022/03/02, weil schon im hd-academy.css geladen -->
<!-- link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lato" -->
<link rel="stylesheet" src="../font/lato.css">
	
            <!-- Matomo -->
<script>
var _paq = window._paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var u="https://nepalica.hadw-bw.de/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<!-- End Matomo Code -->
</head>
<body>
<div style="position: relative;
  min-height: 100vh;">
	<div style="padding-bottom: 34px;">
	<div class="headwrap">
	<div class="inner">
	<div>
	<a href="https://www.hadw-bw.de/" target="_blank"><img style="padding: 15px 0px 15px 0px; float: left; height: 100px;" src="/nepal/img/hadw_logo_blau.svg"></a>
	</div>
	<div style="text-align: right; padding: 30px 10px 0px 10px;">
	<a href="/nepal/" style="text-decoration: none;"><h1>Documenta Nepalica</h1>
	<p style="color: #333333;">Documents on the History of Religion and Law of Pre-modern Nepal</p></a>
	</div>
	</div>
	</div>
    <nav class="top-bar expanded" data-topbar role="navigation">      
        <div class="navwrap">
        <ul class="navigator">
	            		        
		        <li><a href="https://www.hadw-bw.de/forschung/forschungsstelle/religions-und-rechtsgeschichtliche-quellen-des-vormodernen-nepal" target="_blank" title="Home"><img style="height: 14px;" src="/nepal/img/home.png"></a></li>
                <li><a href="/nepal/catitems/index/0">Catalogue</a></li>
                <li><a href="/nepal/editions">Editions</a></li>
                <li><a href="/nepal/ontologies">Ontology</a></li>
				<li><a href="/nepal/baskets">My list</a></li>
				<li><a href="/nepal/users/login">Login</a></li>
				<li style="float:right;"><a href="/nepal/" title="Information"><img style="height: 14px;" src="/nepal/img/question.png"></a></li>
				<li style="float:right;"><a href="/nepal/catitems/searchpage" title="Search in database"><img style="height: 14px;" src="/nepal/img/search.png"></a></li>
				<li style="float:right;"><a href="https://www.hadw-bw.de/en/research/research-center/documents-history-religion-and-law-pre-modern-nepal/contact" target="_blank" title="Contact"><img style="height: 13px;" src="/nepal/img/envelop.png"></a></li>		
            </ul>
		</div>	
		<div class="titlewrap"><div class="inner"><h4 class="title"><a href="">Documenta Nepalica</a></h4></div></div>
        

    </nav>
        <div class="container_clearfix">
        <div style="max-width: 1900px;">
<p>The digital infrastructure of the project, named “Documenta Nepalica”, consists of two interrelated parts: “Catalogue” and “Editions”. The former aims at bringing together information about published and unpublished historical documents from Nepal, while the latter is the platform for digital (XML) editions of documents selected from the catalogue. Once an edition exists, links will guide the user from the search list and the catalogue entry to the respective XML edition.</p>

<p>The catalogue database, orginally designed to record the handwritten documents microfilmed by the <a href="https://www.aai.uni-hamburg.de/en/forschung/ngmcp/history/title-list-cs.html" target="_blank">NGMPP</a>, now additionally contains descriptive metadata of documents from other archives and private collections.</p>
<p>Documents are selected for editing by project staff on the basis of their individual research; they are transcribed and edited with as little intrusion as possible. The data are available as XML-files encoded by applying standards of the Text Encoding Initiative (TEI). Thematically related documents are compiled into bundles that are a basis for further research.</p>
<p>The research unit also publishes documents at frequent intervals in cooperation with the Universitätsbibliothek Heidelberg on the platform <a href="https://www.ub.uni-heidelberg.de/Englisch/publikationsdienste/digitale_editionen.html" target="_blank">Heidelberger digitale Editionen (heiEDITIONS)</a>; see “<a href="https://www.hadw-bw.de/documenta-nepalica-digitale-editionen-mit-doi" target="_blank">Editions Published with DOI</a>”.</p>
<p>Complex <a href="/nepal/catitems/searchpage">search functions</a> enable the browsing of both datasets “catalogue” and “editions”, jointly or separately, and with respect to content criteria. In addition to a simple search, advanced search functions are available in which search parameters can be combined with each other.</p>
<p>The catalogue entries and the search results can be bookmarked and added to “My List,” exportable as a text file.</p>
<br>

<div class="row">
	<div class="col">
		<div class="card-deck">
			<div class="card">
				<div class="card-header">
					<a href="/nepal/catitems">Catalogue</a>
				</div>
				<div class="card-body">
                    <p class="card-text"><a href="/nepal/catitems">A catalogue of descriptive metadata of documents from different archives</a></p>
                </div>
			</div>
			<div class="card">
				<div class="card-header">
					<a href="/nepal/editions">Document Editions</a>
				</div>
				<div class="card-body">
                    <p class="card-text"><a href="/nepal/editions">A platform for digital (XML) editions and translation of documents</a></p>
                </div>
			</div>
			<div class="card">
				<div class="card-header">
					<a href="https://www.haw.uni-heidelberg.de/forschung/forschungsstellen/nepal/publ_docs.en.html" target="_blank">Editions with DOI</a>
				</div>
				<div class="card-body">
                    <p class="card-text"><a href="https://www.haw.uni-heidelberg.de/forschung/forschungsstellen/nepal/publ_docs.en.html"  target="_blank">Documents published in cooperation with the University Library Heidelberg</a></p>
                </div>
			</div>
			<div class="card-right">
				<div class="card-header">
					<a href="https://www.hadw-bw.de/en/research/research-center/documents-history-religion-and-law-pre-modern-nepal/research-topics" target="_blank">Research Topics</a>
				</div>
				<div class="card-body">
                    <p class="card-text"><a href="https://www.hadw-bw.de/en/research/research-center/documents-history-religion-and-law-pre-modern-nepal/research-topics" target="_blank">Thematically related documents arranged into different groups</a></p>
                </div>
			</div>
		</div>	
	</div>
</div>
<br><br><hr>
<br><br><br>
<h3 id="edprpl" >Editorial Principles</h3>

<p>In order to give the dated features of the languages in which the documents were written the full weight they deserve, the editorial approach adopted is one that seeks preferentially to reproduce texts as closely as possible rather than to normalize them. The observable variability in terms of orthography and grammar is respected as being an integral part of the language. All documents are treated as codices unici, even if in some cases certified copies are extant.</p>
<br>
<h4>Editorial Symbols</h4>
<table style="max-width: 40% ;">
<tr><td>[...]</td><td>lost text</td></tr>
<tr><td>[?]</td><td>illegible text</td></tr>
<tr><td>[रा]</td><td>editorial addition</td></tr>
<tr><td>⟪ ⟫</td><td>scribal addition</td></tr>
<tr><td>Crossed-out text</td><td>scribal deletion</td></tr>
<tr><td>{.}</td><td>editorial deletion</td></tr>
</table>
<br>                              

<h4>Display Modes</h4>

<p>The xml files of the digital editions can be displayed in different modes.</p>

<p>Mode “Diplomatic”</p>

<p>The text as it appears in the original document is reproduced as faithfully as possible, including diacritic marks, such as the nukta (़); original line breaks; format features, such as the scriptura continua used in most documents; and graphical features, such as the middle dot (•) sporadically employed to mark word separation, or macrons and lines of various shapes, often used as placeholders or structuring elements.</p>

<p>Mode “Word breaks”</p>

<p>The text is displayed as it is in the “diplomatic” mode but with the introduction of word breaks.</p>

<p>Mode “Annotated edition”</p>

<p>The aim being to achieve a balance between readability and texts that remain as close to the original as possible, the editorial techniques that have been applied to the documents introduce minimally invasive normalizations and corrections.</p>

<h4>Punctuation</h4> 

<p>In order to make the editions and their relation to the translations more accessible for the reader, punctuation has been normalized. Middle dots represented in the diplomatic edition are dropped. The various types of macrons and lines are uniformly represented by “- - -”. Daṇḍas are introduced to mark the end of a sentence or a sentence-like syntactic unit. Hyphenation is introduced in cases where a single word runs over into the next line.</p>

<h4>Orthography</h4>

<p>The original spelling is largely retained. The only regularizations concern introducing a differentiation between ṣ and kh and between v and b on the basis of standard modern spellings, following the Nepālī Bṛhat Śabdakośa (Parājulī et al. 1995), regardless of whether or not these reflect actual differences in pronunciation at the time when the documents were written. The documents themselves mostly only use ṣ and v, and occasionally distinguish v from b by adding a nukta to the former. Such nuktas, along with others sporadically employed to distinguish ya from pa, are dropped.</p>

<p>In parts of the texts written in khasa-kurā, later known as Nepali, typical orthographic variants (cf. Riccardi 1971: 18-23) are not normalized. This especially concerns alternate ways to represent the i- and u-vowels (i alternates with ī or e, ya / yā with e, and u with ū; cf. Riccardi 1971: 18-19), sporadic non-standard visargas (cf. ibid.: 19), looseness and inconsistencies in the use of anusvāra, anunāsika and the class nasals  (cf. ibid.: 20), and further alternative spellings, such as k/g, kṣ/ch, j/y, ḍ/d/r, ṭ/t, r/l, and ś/s (cf. ibid.: 20-23).</p>

<p>Uncertain readings and corrections are highlighted by dots under those portions of text and are additionally explained in pop-up windows.</p>

<h4>Transliteration</h4>

<p>If the display is shifted to Transliteration, daṇḍas appear as full stops. The text, be it noted, is transliterated rather than transcribed, so that a final or medial a is always retained regardless of whether it was actually pronounced or not. The same applies to all quotations of portions of text in the Abstract, Translation, Commentary, and Footnotes sections.</p>

</div>









    </div>
    </div>
    
    <footer class="footer">
    <div>
    <p style="text-align: center; color: white;">
    <a href="https://www.hadw-bw.de/en/research/research-center/documents-history-religion-and-law-pre-modern-nepal/contact" target="_blank" style="color: #e6e6e6;">Contact</a>
    <span style="color: #e6e6e6;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="https://www.hadw-bw.de/terms-use" target="_blank" style="color: #e6e6e6;">Terms of Use</a>
    <span style="color: #e6e6e6;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="https://www.hadw-bw.de/impressum" target="_blank" style="color: #e6e6e6;">Credits</a>
    <span style="color: #e6e6e6;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="https://www.hadw-bw.de/datenschutzerklaerung" target="_blank" style="color: #e6e6e6;">Privacy Policy</a>
    </p>
    </div>
    </footer>
</div>
</body>
</html>
